.mat-contas-escolha {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mat-contas-escolha-area-1,
.mat-contas-escolha-area-2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.mat-contas-escolha-area-1 {
    gap: 127px;
}

.mat-contas-escolha-area-2 {
    gap: 108px;
}

.mat-contas-label {
    font: var(--header-small);
    color: var(--page-black);
}

.mat-contas-opcoes-area,
.mat-contas-input {
    outline: none;
    text-align: center;
    width: 75px;
    height: 60px;
    border: solid 5px var(--page-black);
    border-radius: 20px;
    font: var(--header-small);
}

.mat-contas-input {
    font: var(--header-small);
}

.mat-contas-input::-webkit-outer-spin-button,
.mat-contas-input::-webkit-inner-spin-button {
    display: none;
}

.mat-contas-escolha-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.mat-contas-escolha-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mat-qtd-numeros {
    outline: none;
    text-align: center;
    width: 90px;
    height: 65px;
    border: solid 5px var(--page-black);
    border-radius: 20px;
    font: var(--header-small);
}

.mat-qtd-numeros::-webkit-outer-spin-button,
.mat-qtd-numeros::-webkit-inner-spin-button {
    display: none;
}

.mat-contas-operacao {
    font: var(--header-small);
}