.fis-calculos-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 105px;
    margin-bottom: 80px;
    margin-left: 82px;
    margin-right: 82px;
    padding: 87px 50px;

    border-radius: 50px;
    background-color: rgba(70, 130, 180, 0.7);
}

.fis-calculos {
    display: flex;
    align-items: start;
    gap: 150px;
}