.header-area {
    width: 100%;
    padding: 25px 263px;

    background-image: url(../../assets/Home/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: screen;
    box-shadow: inset 0px -60px 60px var(--page-white);

    background-color: var(--background-light-pink);
}
.header-botao-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}