.fis-conta-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fis-conta-titulo {
    font: var(--header-large);
    color: var(--page-black);
    text-align: center;
}

.fis-operacao-area {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 70px;
    margin-top: 35px;
}

.fis-operacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
}

.fis-resul-expli {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.fis-unidade {
    font: var(--header-small);
    color: var(--page-black);
}