.calc-apresentacao-area {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 157px;
}

.calc-apresentacao-texto {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 77px;
}

.calc-apresentacao-titulo {
    font: var(--header-large);
    color: var(--page-black);
}

.calc-apresentacao-sub {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 582px;
    gap: 30px;
}

.calc-apresentacao-sub1 {
    font: var(--text-mid-2);
    color: var(--page-black);
}

.calc-apresentacao-sub2 {
    font: var(--text-small);
    color: var(--page-black);
}

.calc-apresentacao-logo {
    position: absolute;
    top: 75px;
    right: 120px;
    width: 350px;
    height: 350px;
    padding: 50px;

    border: solid 5px var(--page-black);
    font-size: 250px;
    border-radius: 50%;
}