.mat-calculos-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;
    margin-bottom: 80px;
    margin-left: 82px;
    margin-right: 82px;
    padding: 87px 74px;
    
    border-radius: 50px;
    background-color: rgba(255, 71, 71, 0.7);
}

.mat-divisor {
    margin-top: 67px;
    margin-bottom: 67px;
    width: 1023px;
    height: 5px;
    background-color: var(--page-black);
}