.mat-contas-simples {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat-contas-simples-titulo {
    font: var(--header-large);
}

.mat-contas-simples-area {
    display: flex;
    align-items: center;
    gap: 280px;
}